
exceptiongroup==1.2.0
fastapi==0.109.0
ffmpeg-python==0.2.0
nltk==3.8.1
numpy==1.26.3
pandas==2.1.4
python-dateutil==2.8.2
python-multipart==0.0.6
requests==2.31.0
scikit-learn==1.4.0
scipy==1.11.4
SpeechRecognition==3.10.1
urllib3==2.1.0
uvicorn==0.26.0
